@model StudentMVCCodeFirst.Models.ViewModels.CourseViewModel
<div>
    <h4>Course Details</h4>
    <br />
    <table class="table table-bordered">
        <tr>
            <th>Course Id</th>
            <td>@Html.DisplayFor(s => s.Id)</td>
        </tr>
        <tr>
            <th>Student Name</th>
            <td>@Html.DisplayFor(s => s.CourseName)</td>
        </tr>
        
    </table>
</div>
